GEMINI_API_KEY=""
GROQ_API_KEY=""
GROQ_API_KEY_1=""
GROQ_API_KEY_2=""

POSTGRES_LOCAL="postgresql://postgres:123456@localhost:5432/dbAcessorIA"
MONGODB_LOCAL="mongodb://localhost:27017/"

POSTGRES_URI=""
POSTGRES_DB=""
POSTGRES_USER=""
POSTGRES_PASSWORD=""

MONGODB_URI=""
MONGODB_DB=""

FAQ_PDF_PATH="data/documents/faq.pdf"
EDUCATION_DOCUMENTS_PATH="data/documents/education"
TIMEZONE_REGION="America/Sao_Paulo"
