GEMINI_API_KEY="abcd1234567890abcdefg"
GROQ_API_KEY="abcd1234567890abcdefg"

POSTGRES_LOCAL="postgresql://postgres:123456@localhost:5432/dbAcessorIA"
MONGODB_LOCAL="mongodb://localhost:27017/"

POSTGRES_URI="uriuriuri"
POSTGRES_DB="databasedatabase"
POSTGRES_USER="useruseruser"
POSTGRES_PASSWORD="keykeykeykey"

MONGODB_URI="uriuriuri"

FAQ_PDF_PATH="data\\documents\\faq.pdf"
TIMEZONE_REGION="America/Sao_Paulo"
