GEMINI_API_KEY="abcd1234567890abcdefg"
GROQ_API_KEY="abcd1234567890abcdefg"

PSQL_DATABASE_URL="url_to_your_database"
MONGO_DATABASE_URL="url_to_your_database"

FAQ_PDF_PATH="data\\documents\\faq.pdf"
TIMEZONE_REGION="America/Sao_Paulo"